extends ./base

block styles
	link(rel="stylesheet", type="text/css", href="/static/css/edit.css")
	link(rel="stylesheet", type="text/css", href="/static/css/jqueryui/jquery-ui-1.8.16.custom.css")
	
block sidebar-content
	#standard-addition-block
		h2#standard-addition-title.block-title Add Formal Content
		#standard-addition-content.block-content
			ul#standard-addition-menu.menu
				li#standard-addition-author
					a(href="#", onclick="addAuthor()") Add a blank author
				li#standard-addition-distributor
					a(href="#", onclick="addDistributor()") Add a blank distributor
				li#standard-addition-contact
					a(href="#", onclick="addContact()") Add a registered contact
				li#standard-addition-file-link
					a(href="#", onclick="addLink('file')") Add a file link
				li#standard-addition-service-link
					a(href="#", onclick="addLink('service')") Add a service link
					
	#file-attachment-block
		h2#file-attachment-title.block-title Manage File Attachments
		#file-attachment-content.block-content
			ul#file-attachment-menu.menu
				li#file-attachment-add
					a(href="#", onclick="addFile()") Add a File
					
	#collections-block
		h2#collections-title.block-title Manage Collections
		#collections-content.block-content
			ul#collections-menu.menu
				li#collections-current Current Collections:
					ul#collections-current-list
				li#collections-new Request addition to Collection:
				
	#map-block
		h2#map-title.block-title Resource Location
		#map-content.block-content
			#map
	
block scripts
	script(type="application/javascript", src="/static/js/jade.js")
	script(type="application/javascript", src="/static/js/jquery-ui-1.8.16.custom.min.js")
	script(type="application/javascript", src="/static/js/editor/read-record.js")
	script(type="application/javascript", src="/static/js/editor/write-record.js")
	script(type="application/javascript", src="/static/js/editor/toolbar-template.js")
	script(type="application/javascript", src="/static/js/editor/obj-template.js")
	script(type="application/javascript", src="/static/js/editor/value-template.js")
	script(type="application/javascript", src="/static/js/editor/sidebar-functions.js")
	script(type="application/javascript", src="/static/js/editor/editor.js")
	script(type="application/javascript")
		| harvestInfo = false;
		| contactObj = !{contactTemplate};
		| fileLinkObj = !{fileLinkTemplate};
		| serviceLinkObj = !{serviceLinkTemplate};
		| metadataObj = !{metadataTemplate};
		- if (existingResource) {
		| startObj = !{existingResource};
		- } else {
		| startObj = metadataObj;
		- }
		
block page-content
	#editor-header
		- if (existingResource) {
		h1#editor-title Edit an Existing Resource
		- } else {
		h1#editor-title Create a New Resource
		- }
	form#editor-form(name="resourceForm", method="post", enctype="multipart/form-data", onsubmit="writeResource()")
		#resource-container
			ul#theResource
		input#the-new-resource(name="theResource")
		input#save-resource-button(type="submit", value="Save Your Resource")
	#add-contact-dialog(title="Add a registered contact")
		label(for="new-contact-selector") Type a name: 
		input#new-contact-selector
		input#new-selected-contact(style="display:none;")
	#saved-contact-dialog(title="Register a contact")
		#contact-message-container.ui-corner-all