extends ./base

block scripts
	link(rel="stylesheet", type="text/css", href="/static/css/html-record.css")
	link(rel="stylesheet", type="text/css", href="/static/css/jqueryui/jquery-ui-1.8.16.custom.css")
	script(type="application/javascript", src="/static/js/html-record.js")
	script(type="application/javascript", src="/static/js/jquery-ui-1.8.16.custom.min.js")
	
block sidebar-content
	#collections-block
		h2#collections-title.block-title Collections
		#collections-content.block-content
			ul#collections-menu.menu

	#file-attachment-block
		h2#file-attachment-title.block-title Available Files
		#file-attachment-content.block-content
			ul#file-attachment-menu.menu								
				
	#map-block
		h2#map-title.block-title Resource Location
		#map-content.block-content
			#map
			
block page-content
	#record-container
		#title-container
			h1#record-title #{doc.Title || "No Title Was Given"}
		#keywords-container
			- if (doc.hasOwnProperty("Keywords")) {
			ul#keywords-list.horizontal-list
				- doc.Keywords.forEach(function(keyword) {
				li= keyword
				- })
			- }
		fieldset#basic-information.box-container
			legend#basic-info-title.box-container-title Basic Information
			#basic-info-container
				#author-container											
					strong#author-title.attr-name Author:	
					if !doc.hasOwnProperty("Authors")
						#author-content.attr-content No Authors Specified
					else
						- var names = []
						- for (var a in doc.Authors) { names.push(doc.Authors[a].Name || "No Name") }
						#author-content.attr-content #{names.join(", ")}
				#description-container
					#description-title.attr-name Description:
					#description-content.attr-content #{doc.Description || "No Description Given"}
				#pub-date-container
					#pub-date-title.attr-name Publication Date:
					#pub-date-content.attr-content #{doc.PublicationDate || "No Publication Date Given"}
		#int-originator.box-container.can-collapse.start-collapsed
			#int-originator-title.box-container-title Author Contact Information
			if (!doc.hasOwnProperty("Authors"))
				#int-originator-info-container No Authors Specified
			else
				#int-originator-info-container
					- doc.Authors.forEach(function(author) {
					- 	var prefix = "int-originator-" + doc.Authors.indexOf(author) + "-"
						div(id=prefix + "container")
							- if (author.hasOwnProperty("Name")) {
							div(id=prefix + "name-container")
								div(id=prefix + "name-title").attr-name Name:
								div(id=prefix + "name-content").attr-content= author.Name
							- }
							- if (author.hasOwnProperty("ContactInformation")) {
							div(id=prefix + "contact-container")
								- if (author.ContactInformation.hasOwnProperty("Address")) {
								div(id=prefix + "address-container")
									- if (author.ContactInformation.Address.hasOwnProperty("Street")) {
									div(id=prefix + "street-container")
										div(id=prefix + "street-title").attr-name Street:
										div(id=prefix + "street-content").attr-content= author.ContactInformation.Address.Street
									- }
									- if (author.ContactInformation.Address.hasOwnProperty("City")) {
									div(id=prefix + "city-container")
										div(id=prefix + "city-title").attr-name City:
										div(id=prefix + "ciry-content").attr-content= author.ContactInformation.Address.City
									- }
									- if (author.ContactInformation.Address.hasOwnProperty("State")) {
									div(id=prefix + "state-container")
										div(id=prefix + "state-title").attr-name State:
										div(id=prefix + "state-content").attr-content= author.ContactInformation.Address.State
									- }
									- if (author.ContactInformation.Address.hasOwnProperty("Zip")) {
									div(id=prefix + "zip-container")
										div(id=prefix + "zip-title").attr-name Zip:
										div(id=prefix + "zip-content").attr-content= author.ContactInformation.Address.Zip
									- }
								- }
								- if (author.ContactInformation.hasOwnProperty("Phone")) {
								div(id=prefix + "phone-container")
									div(id=prefix + "phone-title").attr-name Phone:
									div(id=prefix + "phone-content").attr-content= author.ContactInformation.Phone
								- }
								- if (author.ContactInformation.hasOwnProperty("email")) {
								div(id=prefix + "email-container")
									div(id=prefix + "email-title").attr-name email:
									div(id=prefix + "email-content").attr-content= author.ContactInformation.email
								- }
							- }
					- })
		#links-container.box-container
			#links-title.box-container-title Online Availability
			if !doc.hasOwnProperty("Links")
				#links-info-container No Links Were Provided
			else
				- doc.Links.forEach(function(link) {
				-	prefix = "link-" + doc.Links.indexOf(link) + "-"
					div(id=prefix + "container")
						- if (link.hasOwnProperty("Type") && link.hasOwnProperty("URL")) {
						div(id=prefix + "link-container")
							a(href=link.URL)= link.Type
						- }
				- })
		#dist-originator.box-container.can-collapse.start-collapsed
			#dist-originator-title.box-container-title Distributor Contact Information
			if (!doc.hasOwnProperty("Distributor"))
				#dist-originator-info-container No Distributors Specified
			else
				#dist-originator-info-container
					- if (doc.Distributor.hasOwnProperty("Name")) {
					#dist-originator-name-container
						#dist-originator-name-title.attr-name Name:
						#dist-originator-name-content.attr-content= doc.Distributor.Name
					- }
					- if (doc.Distributor.hasOwnProperty("ContactInformation")) {
					#dist-originator-contact-container
						- if (doc.Distributor.ContactInformation.hasOwnProperty("Address")) {
						#dist-originator-address-container
							- if (doc.Distributor.ContactInformation.Address.hasOwnProperty("Street")) {
							#dist-originator-street-container
								#dist-originator-street-title.attr-name Street:
								#dist-originator-street-content.attr-content= doc.Distributor.ContactInformation.Address.Street
							- }
							- if (doc.Distributor.ContactInformation.Address.hasOwnProperty("City")) {
							#dist-originator-city-container
								#dist-originator-city-title.attr-name City:
								#dist-originator-city-content.attr-content= doc.Distributor.ContactInformation.Address.City
							- }
							- if (doc.Distributor.ContactInformation.Address.hasOwnProperty("State")) {
							#dist-originator-state-container
								#dist-originator-state-title.attr-name State:
								#dist-originator-state-content.attr-content= doc.Distributor.ContactInformation.Address.State
							- }
							- if (doc.Distributor.ContactInformation.Address.hasOwnProperty("Zip")) {
							#dist-originator-zip-container
								#dist-originator-zip-title.attr-name Zip:
								#dist-originator-zip-content.attr-content= doc.Distributor.ContactInformation.Address.Zip
							- }
						- }
						- if (doc.Distributor.ContactInformation.hasOwnProperty("Phone")) {
						#dist-originator-phone-container
							#dist-originator-phone-title.attr-name Phone:
							#dist-originator-phone-content.attr-content= doc.Distributor.ContactInformation.Phone
						- }
						- if (doc.Distributor.ContactInformation.hasOwnProperty("email")) {
						#dist-originator-email-container
							#dist-originator-email-title.attr-name email:
							#dist-originator-email-content.attr-content= doc.Distributor.ContactInformation.email
						- }
					- }
		#geo-extent.box-container.can-collapse.start-collapsed
			#geo-extent-title.box-container-title Geographic Extent
			if !doc.hasOwnProperty("GeographicExtent")
				#geo-extent-info-container No Geographic Extent Was Specified
			else
				#geo-extent-info-container
					- if (doc.GeographicExtent.hasOwnProperty("NorthBound")) {
					#geo-extent-north-container
						#geo-extent-north-title.attr-name North Bounding Latitude:
						#geo-extent-north-content.attr-content= doc.GeographicExtent.NorthBound
					- }						
					- if (doc.GeographicExtent.hasOwnProperty("SouthBound")) {
					#geo-extent-south-container
						#geo-extent-south-title.attr-name South Bounding Latitude:
						#geo-extent-south-content.attr-content= doc.GeographicExtent.SouthBound
					- }
					- if (doc.GeographicExtent.hasOwnProperty("EastBound")) {
					#geo-extent-east-container
						#geo-extent-east-title.attr-name East Bounding Longitude:
						#geo-extent-east-content.attr-content= doc.GeographicExtent.EastBound
					- }
					- if (doc.GeographicExtent.hasOwnProperty("WestBound")) {
					#geo-extent-west-container
						#geo-extent-west-title.attr-name West Bounding Longitude:
						#geo-extent-west-content.attr-content= doc.GeographicExtent.WestBound
					- }			