extends ./base

block styles
	link(rel="stylesheet", type="text/css", href="/static/css/html-record.css")
	link(rel="stylesheet", type="text/css", href="/static/css/map.css")
	
block scripts
	script(type="application/javascript", src="/static/js/jquery-ui-1.8.16.custom.min.js")
	script(type="application/javascript", src="/static/js/html-record.js")
	script(type="application/javascript", src="/static/js/map.js")
	script(type="application/javascript", src="http://maps.google.com/maps/api/js?v=3.5&amp;sensor=false")
	script(type="application/javascript", src="http://openlayers.org/dev/OpenLayers.js")
	script(type="application/javascript")
		| links = !{JSON.stringify(doc.Links || "")}
		| geoExtent = !{JSON.stringify(doc.GeographicExtent || "")}
		| collIds = !{JSON.stringify(doc.Collections || "")}
	
block sidebar-content
	#collections-block
		h2#collections-title.block-title Collections
		#collections-content.block-content
			ul#collections-menu.menu

	#file-attachment-block
		h2#file-attachment-title.block-title Online Availability
		#file-attachment-content.block-content
			ul#file-attachment-menu.menu
											
	#map-block
		h2#map-title.block-title Resource Location
		#map-content.block-content
			#map
	
	#formal-metadata-block
		h2#formal-metadata-title.block-title Standard Metadata
		#formal-metadata-content.block-content
			ul#formal-metadata-list.menu
				- for (var f in outputFormats) {
				-	if (f != "html" && f != "sitemap.xml") {
				li
					a(href="/resource/" +  doc.id + "/" + f)= outputFormats[f]
				-	}
				- }
				
block page-content
	#record-container
		#title-container
			h1#record-title #{doc.Title || "No Title Was Given"}
		#keywords-container
			- if (doc.hasOwnProperty("Keywords")) {
			ul#keywords-list.horizontal-list
				li
				- doc.Keywords.forEach(function(keyword) { 
					a(href ="/search/"+"#{keyword}") #{keyword}
				- })
			- }
		fieldset#basic-information.box-container
			legend Basic Information
			#basic-info-container.box-subcontainer
				#author-container											
					strong Author:	
					- if(!doc.hasOwnProperty("Authors"))
						#author-content.attr-content No Authors Specified
					- else
						- var names = []
						- for (var a in doc.Authors) { names.push(doc.Authors[a].Name || "No Name") }
						| #{names.join(", ")}
				#description-container
					strong Description: 
					| #{doc.Description || "No Description Given"}
				#pub-date-container
					strong Publication Date:
					- var pubDate = doc.PublicationDate || "No Publication Date Given" 
					- pubDate = pubDate.replace('T', " ")
					- pubDate = pubDate.replace('Z', " ")
					| #{pubDate}
		fieldset#int-originator.box-container
			legend Author Contact Information
			- if (!doc.hasOwnProperty("Authors"))
				#int-originator-info-container No Authors Specified
			- else
				#int-originator-info-container
					- doc.Authors.forEach(function(author) {
					- 	var prefix = "int-originator-" + doc.Authors.indexOf(author) + "-"
						div(id=prefix + "container", class="box-subcontainer")
							- if (author.hasOwnProperty("Name")) {
							div
								strong Name: 
								| #{author.Name}
							- }
							- if (author.hasOwnProperty("ContactInformation")) {
							div(id=prefix + "contact-container")
								- if (author.ContactInformation.hasOwnProperty("Address")) {
								div
									- if (author.ContactInformation.Address.hasOwnProperty("Street")) {
									div
										strong Street: 
										| #{author.ContactInformation.Address.Street}
									- }
									- if (author.ContactInformation.Address.hasOwnProperty("City")) {
									div
										strong City: 
										| #{author.ContactInformation.Address.City}
									- }
									- if (author.ContactInformation.Address.hasOwnProperty("State")) {
									div
										strong State: 
										| #{author.ContactInformation.Address.State}
									- }
									- if (author.ContactInformation.Address.hasOwnProperty("Zip")) {
									div
										strong Zip: 
										| #{author.ContactInformation.Address.Zip}
									- }
								- }
								- if (author.ContactInformation.hasOwnProperty("Phone")) {
								div
									strong Phone: 
									| #{author.ContactInformation.Phone}
								- }
								- if (author.ContactInformation.hasOwnProperty("email")) {
								div#email
									strong Email: 
									a(href="mailto:"+author.ContactInformation.email+"?Subject="+doc.Title)
										| #{author.ContactInformation.email}
								- }
							- }
					- })
		fieldset#dist-originator.box-container
			legend Distributor Contact Information
			if (!doc.hasOwnProperty("Distributors"))
				No Distributors Specified
			else
				- doc.Distributors.forEach(function(dist){
				div.box-subcontainer
					- if (dist.hasOwnProperty("Name")) {
						div
							strong Name:
							| #{dist.Name}
					- }
					- if (dist.hasOwnProperty("ContactInformation")) {
						- if (dist.ContactInformation.hasOwnProperty("Address")) {
							- if (dist.ContactInformation.Address.hasOwnProperty("Street")) {
								div
									strong Street:
									| #{dist.ContactInformation.Address.Street}
							- }
							- if (dist.ContactInformation.Address.hasOwnProperty("City")) {
								div
									strong City:
									| #{dist.ContactInformation.Address.City}
							- }
							- if (dist.ContactInformation.Address.hasOwnProperty("State")) {
								div
									strong State:
									| #{dist.ContactInformation.Address.State}
							- }
							- if (dist.ContactInformation.Address.hasOwnProperty("Zip")) {
								div
									strong Zip:
									| #{dist.ContactInformation.Address.Zip}
							- }
						- }
						- if (dist.ContactInformation.hasOwnProperty("Phone")) {
							div
								strong Phone:
								| #{dist.ContactInformation.Phone}
						- }
						- if (dist.ContactInformation.hasOwnProperty("email")) {
							div
								strong Email:
								| #{dist.ContactInformation.email}
						- }
					- }					
				- })
		fieldset#geo-extent.box-container
			legend#geo-extent-title.box-container-title Geographic Extent
			if !doc.hasOwnProperty("GeographicExtent")
				#geo-extent-info-container.box-subcontainer No Geographic Extent Was Specified
			else
				#geo-extent-info-container.box-subcontainer
					- if (doc.GeographicExtent.hasOwnProperty("NorthBound")) {
						div
							strong North Bounding Latitude:  
							| #{doc.GeographicExtent.NorthBound}
					- }						
					- if (doc.GeographicExtent.hasOwnProperty("SouthBound")) {
						div
							strong South Bounding Latitude: 
							| #{doc.GeographicExtent.SouthBound}
					- }
					- if (doc.GeographicExtent.hasOwnProperty("EastBound")) {
						div	
							strong East Bounding Longitude: 
							| #{doc.GeographicExtent.EastBound}
					- }
					- if (doc.GeographicExtent.hasOwnProperty("WestBound")) {
						div
							strong West Bounding Longitude: 
							| #{doc.GeographicExtent.WestBound}
					- }			