extends ./base

block styles
	link(rel="stylesheet", type="text/css", href="/static/css/jqueryui/jquery-ui-1.8.16.custom.css")
	link(rel="stylesheet", type="text/css", href="/static/css/collections-lists.css")

block scripts
	script(type="application/javascript", src="/static/js/jquery-ui-1.8.16.custom.min.js")
	script(type="application/javascript", src="/static/js/collections-lists.js")
	script(type="application/javascript", src="/static/js/toolbar-functions.js")
	script(type="application/javascript")
		| authenticated = #{authenticated}

block page-content
		#collections-list-content.block-content
			#collection-list
				- for (c in collections) {
				div(id=collections[c].id + "-container")
					div.block-title.block-collection
						span(onclick="showRecords('#{collections[c].id}')").ui-icon.ui-icon-triangle-1-e.collection-list-expand
						a(class="collection-list-title",href='/collection/'+'#{collections[c].id}')=collections[c].doc.Title
						- if (authenticated) {
						div.collection-list-actions
							span(onclick="deleteCollection(#{collections[c].id})").ui-icon.ui-icon-circle-close
							span(onclick="addNewCollection(#{collections[c].id})").ui-icon.ui-icon-circle-plus
						- }
					div.block-content.collection-content
						div(id=collections[c].id + "-description").collection-description= collections[c].doc.Description
						ul(id=collections[c].id).record-list
				- }
			- if (authenticated) {
			#add-collection-dialog
				input#input-collection-name
				#selected-collection-id
				#parent-collection-id
				#refresh-element-id
			#add-record-dialog
				input#input-record-name
				#selected-record-id
				#collection-id
				#refresh-collection-id
			- }